@import "~bootstrap/dist/css/bootstrap.min.css";

h1,
h2 {
  display: flex;
  font-size: xx-large;
  justify-content: center;
  align-self: center;
  margin: auto;
}

.excuseDiv {
  display: flexbox;
  height: auto;
  margin: auto;
  padding: auto;
}
